{% extends 'base.html.twig' %}

{% block title %}Booking the ad{% endblock %}
{% block body %}

    <div class="container py-5">
        <h2>{{ ad.title }}</h2>
        <p>ad of {{ ad.author.fullName }}</p>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Bonking</button>
        {{ form_end(form) }}
        <h2>price : <span id="amount">…</span></h2>
        <span id="days">0</span> night to {{ ad.price | number_format(2, ',', ' ') }}

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#booking_startDate, #booking_endDate').datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in ad.notAvailableDays %}
                        "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                ]
            });
            $('#booking_startDate, #booking_endDate').on('change', calculateAmount);
        });

        function calculateAmount() {
            const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
            const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));

            const DAY_TIME = 24 * 60 * 60 * 1000;

            if (startDate && endDate && startDate < endDate) {
                const interval =  endDate.getTime() - startDate.getTime();
                const days = interval / DAY_TIME;

                const amount = days * {{ ad.price }};

                $('#days').text(days);
                $('#amount').text(amount.toLocaleString('fr-FR'));
            }
        }
    </script>
{% endblock %}
