{% extends 'admin/base.html.twig' %}

{% block title %}All comments{% endblock %}

{% block body %}
    <main class="u-main" role="main">
        {% include 'admin/partials/sidebar.html.twig' %}

        <div class="u-content">
            <div class="u-body">
                {% for label, messages in app.flashes %}
                    <div class="alert alert-{{ label }} fade show align-items-center mt-5" role="alert">
                        <i class="fa fa-check-circle alert-icon mr-3"></i>
                        {% for message in messages %}
                            {{ message | striptags }}
                        {% endfor %}
                        <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% endfor %}
                <div class="card mt-5">
                    <header class="card-header">
                        <h2 class="h3 card-header-title">Basic Table</h2>
                    </header>
                    <div class="card-body">
                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table table-hover pre-scrollable">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Visitor</th>
                                    <th scope="col">Ad</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Amount</th>
                                    <th class="text-center" scope="col">Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for booking in pagination.data %}
                                    <tr>
                                        <td>{{ booking.id }}</td>
                                        <td>{{ booking.createdAt | date('d/m/Y') }}</td>
                                        <td><img src="{{ booking.booker.picture }}" class="rounded-circle mr-2"
                                                 style="height: 35px" alt="{{ booking.booker.fullName}}'s avatar"/>{{ booking.booker.fullName}}</td>
                                        <td>{{ booking.ad.title | length > 25? booking.ad.title | slice(0, 50) ~ '…' : booking.ad.title }}</td>
                                        <td>{{ booking.duration }}</td>
                                        <td>{{ booking.amount }}</td>
                                        <td class="text-center">
                                            <a id="actions1Invoker" class="link-muted p-3" href="#!"
                                               aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                                                <i class="fal fa-ellipsis-v"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-right dropdown"
                                                 style="width: 150px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(1063px, 170px, 0px);"
                                                 aria-labelledby="actions1Invoker" x-placement="bottom-end">
                                                <ul class="list-unstyled mb-0">
                                                    <li>
                                                        <a class="d-flex align-items-center link-muted py-2 px-3"
                                                           href="{{ path('admin_bookings_edit', {'id': booking.id}) }}">
                                                            <i class="fa fa-pencil mr-2"></i> Edit this…
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="d-flex align-items-center link-muted py-2 px-3"
                                                           href="{{ path('admin_bookings_delete', {'id': booking.id}) }}">
                                                            <i class="fa fa-trash mr-2"></i> Remove
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- End Table -->
                    </div>
                </div>
                {{ pagination.display() }}
            </div>
            {% include 'admin/partials/footer.html.twig' %}
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            /* MK Web Notification init */
            mkNotifications();
        });
    </script>
{% endblock %}
