{% extends 'admin/base.html.twig' %}

{% block title %}Bookings{% endblock %}

{% block body %}
    {% block content %}
        <div class="card overflow-hidden">
            <div class="card-header bg-transparent pd-y-20 d-sm-flex align-items-center justify-content-between">
                <div class="mg-b-20 mg-sm-b-0">
                    <h6 class="card-title mg-b-5 tx-13 tx-uppercase tx-bold tx-spacing-1">All bookings</h6>
                    <span class="d-block tx-12">October 23, 2017</span>
                </div>
            </div><!-- card-header -->
            <div class="card-body pd-0 bd-color-gray-lighter">
                <div class="table-responsive">
                    <table class="table table-striped mg-b-0">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Visitor</th>
                            <th scope="col">Ad</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Amount</th>
                            <th class="text-center" scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for booking in pagination.data %}
                            <tr>
                                <td>{{ booking.id }}</td>
                                <td>{{ booking.createdAt | date('d/m/Y') }}</td>
                                <td><img src="{{ booking.booker.picture }}" class="rounded-circle mr-2"
                                         style="height: 35px"
                                         alt="{{ booking.booker.fullName }}'s avatar"/>{{ booking.booker.fullName }}
                                </td>
                                <td>{{ booking.ad.title | length > 25? booking.ad.title | slice(0, 50) ~ '…' : booking.ad.title }}</td>
                                <td>{{ booking.duration }}</td>
                                <td>{{ booking.amount }}</td>
                                <td class="align-middle text-center">
                                    <a id="actions1Invoker" class="link-muted p-3" href="#!"
                                       aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                                        <i class="fal fa-ellipsis-v"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right dropdown"
                                         style="width: 150px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(1063px, 170px, 0px);"
                                         aria-labelledby="actions1Invoker" x-placement="bottom-end">
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <a class="d-flex align-items-center link-muted py-2 px-3"
                                                   href="{{ path('admin_bookings_edit', {'id': booking.id}) }}">
                                                    <i class="fal fa-pen mr-2"></i> Edit this ad
                                                </a>
                                            </li>
                                            <li>
                                                <a class="d-flex align-items-center link-muted py-2 px-3"
                                                   href="{{ path('admin_bookings_delete', {'id': booking.id}) }}">
                                                    <i class="fal fa-trash-alt mr-2"></i> Delete this ad
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!-- card-body -->
        </div><!-- card -->
        {{ pagination.display() }}
    {% endblock %}
{% endblock %}
