<div class="sl-logo">
    <a href="">
        <i class="icon ion-android-star-outline"></i>
        Symbnb</a>
</div>

<div class="sl-sideleft ps ps--theme_default ps--active-y border-0" data-ps-id="01b59bc1-3bd1-b693-0abd-e6fca19e8db8">
    <label class="sidebar-label text-dark font-weight-bold">Navigation</label>
    <div class="sl-sideleft-menu">
        <a href="{{ path('admin_dashboard') }}" class="sl-menu-link border-0">
            <div class="sl-menu-item">
                <i class="fal fa-columns"></i>
                <span class="menu-item-label">Dashboard</span>
            </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
        <a href="{{ path('admin_ads_index') }}" class="sl-menu-link border-0">
            <div class="sl-menu-item">
                <i class="fal fa-folders"></i>
                <span class="menu-item-label">Ads</span>
            </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
        <a href="{{ path('admin_bookings_index') }}" class="sl-menu-link border-0">
            <div class="sl-menu-item">
                <i class="fal fa-cabinet-filing"></i>
                <span class="menu-item-label">Bookings</span>
            </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
        <a href="{{ path('admin_comments_index') }}" class="sl-menu-link border-0">
            <div class="sl-menu-item">
                <i class="fal fa-comment-alt-dots"></i>
                <span class="menu-item-label">Comments</span>
            </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
        <a href="#" class="sl-menu-link border-0">
            <div class="sl-menu-item">
                <i class="fal fa-users"></i>
                <span class="menu-item-label">Users</span>
            </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
    </div><!-- sl-sideleft-menu -->

    <br>
    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
        <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__scrollbar-y-rail" style="top: 0px; height: 342px; right: 0px;">
        <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 245px;"></div>
    </div>
</div>


{# <!-- Sidebar -->
<aside id="sidebar" class="u-sidebar js-custom-scroll side-nav mCustomScrollbar _mCS_1 mCS-autoHide page-sidebar-fixed" style="overflow: visible;">
    <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_outside" style="max-height: none;"
         tabindex="0">
        <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
             style="position:relative; top:0; left:0;" dir="ltr">
            <div class="u-sidebar-inner">
                <header class="u-sidebar-header">
                    <a class="u-sidebar-logo" href="index.html">
                        <img class="img-fluid mCS_img_loaded" src="./assets/img/logo.png" alt="Stream Dashboard"
                             width="124">
                    </a>
                </header>

                <nav class="u-sidebar-nav mt-5">
                    <ul class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level">
                        <!-- Dashboard -->
                        <li class="u-sidebar-nav-menu__item">
                            <a class="u-sidebar-nav-menu__link {{ app.request.get('_route') == '_list' ? 'active' }}" href="{{ path('admin_dashboard') }}">
                                <i class="fal fa-columns u-sidebar-nav-menu__item-icon"></i>
                                <span class="u-sidebar-nav-menu__item-title">Dashboard</span>
                            </a>
                        </li>
                        <!-- End Dashboard -->
                        <li class="u-sidebar-nav-menu__item">
                            <a class="u-sidebar-nav-menu__link" href="{{ path('admin_ads_index') }}">
                                <i class="fal fa-list-alt u-sidebar-nav-menu__item-icon"></i>
                                <span class="u-sidebar-nav-menu__item-title">All ads</span>
                            </a>
                        </li>

                        <li class="u-sidebar-nav-menu__item">
                            <a class="u-sidebar-nav-menu__link" href="{{ path('admin_bookings_index') }}">
                                <i class="fal fa-calendar-week u-sidebar-nav-menu__item-icon"></i>
                                <span class="u-sidebar-nav-menu__item-title">Bookings</span>
                            </a>
                        </li>

                        <li class="u-sidebar-nav-menu__item">
                            <a class="u-sidebar-nav-menu__link" href="{{ path('admin_comments_index') }}">
                                <i class="fal fa-comment-alt-lines u-sidebar-nav-menu__item-icon"></i>
                                <span class="u-sidebar-nav-menu__item-title">Comments</span>
                            </a>
                        </li>

                        <li class="u-sidebar-nav-menu__item">
                            <a class="u-sidebar-nav-menu__link" href="#">
                                <i class="fal fa-users u-sidebar-nav-menu__item-icon"></i>
                                <span class="u-sidebar-nav-menu__item-title">Users</span>
                            </a>
                        </li>

                </nav>
            </div>
        </div>
    </div>
    <div id="mCSB_1_scrollbar_vertical"
         class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;">
        <div class="mCSB_draggerContainer">
            <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                 style="position: absolute; min-height: 30px; height: 0px; top: 0px;">
                <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
            </div>
            <div class="mCSB_draggerRail"></div>
        </div>
    </div>
</aside>
<!-- End Sidebar --> #}