{% extends 'admin/base.html.twig' %}

{% block title %}Edit booking number {{ booking.id }}{% endblock %}

{% block body %}
    {% block content %}
        <div class="card pd-20 pd-sm-40 mg-t-20">
            <h6 class="card-body-title">Booking edit</h6>
            <p class="mg-b-20 mg-sm-b-30">Edit booking number {{ booking.id }}</p>
            {{ form_start(form) }}
            <div class="form-layout">
                <div class="row mg-b-25">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <i class="fal fa-user"></i>
                            {{ form_label(form.booker) }}
                            {{ form_widget(form.booker) }}

                            <small>{{ form_help(form.booker) }}</small>

                            <div class="form-error">
                                {{ form_errors(form.booker) }}
                            </div>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <i class="fa fa-calendar"></i>
                            {{ form_label(form.startDate) }}
                            {{ form_widget(form.startDate) }}

                            <small>{{ form_help(form.startDate) }}</small>

                            <div class="form-error">
                                {{ form_errors(form.startDate) }}
                            </div>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <i class="fa fa-calendar"></i>
                            {{ form_label(form.endDate) }}
                            {{ form_widget(form.endDate) }}

                            <small>{{ form_help(form.endDate) }}</small>

                            <div class="form-error">
                                {{ form_errors(form.endDate) }}
                            </div>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-12">
                        <div class="form-group mg-b-10-force">
                            {{ form_label(form.comment) }}
                            {{ form_widget(form.comment) }}
                            {{ form_errors(form.comment) }}
                        </div>
                    </div><!-- col-8 -->
                    <div class="col-lg-12">
                        <div class="form-group mg-b-10-force">
                            {{ form_label(form.ad) }}
                            {{ form_widget(form.ad) }}
                            {{ form_errors(form.ad) }}
                        </div>
                    </div><!-- col-4 -->
                </div><!-- row -->

                <div class="form-layout-footer align-items-end">
                    <button type="submit" class="btn btn-info">Save the ad</button>
                </div><!-- form-layout-footer -->
            </div><!-- form-layout -->
            {{ form_end(form) }}
        </div>
    {% endblock %}
{% endblock %}

