<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %} | Symbnb</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{# ------ navbar ------ #}
<div class="container-fluid bg-white fixed-top">
    {% include 'admin/partials/header.html.twig' %}
</div>
{% block body %}{% endblock %}

<script type="text/javascript" src="{{ asset('js/jquery-3.2.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/dashboard-page-scripts.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/font-controller.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/sidebar-nav.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom-select.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
