{% extends 'base.html.twig' %}

{% block title %}Show the {{ user.fullName }} profile{% endblock %}

{% block body %}
    <div class="container py-5">
        <header class="page-cover">
            <div class="text-center">
                <img class="user-avatar user-avatar-xl" src="{{ user.picture }}" alt="">
                <h2 class="h4 mt-2 mb-0">{{ user.fullName }}</h2>
                <p>{{ user.ads | length}} ad.s into website</p>
            </div><!-- .cover-controls -->
        </header>
        <nav class="page-navs">
            <!-- .nav-scroller -->
            <div class="nav-scroller">
                <!-- .nav -->
                {% if user is same as (app.user) %}
                <div class="nav nav-center nav-tabs">
                    <a class="nav-link" href="{{ path('account_profile') }}">My profile</a> <a class="nav-link" href="{{ path('account_password') }}">My password</a>
                </div><!-- /.nav -->
                {% endif %}
            </div><!-- /.nav-scroller -->
        </nav>

        <div class="actions-toolbar py-2 mt-4 mb-4">
            <h5 class="mb-1">General information</h5>
            <p class="text-sm text-muted mb-0">{{ user.description | raw }}</p>
        </div>

        <hr>
        {% if user.ads | length > 0 %}
        <div class="row">
            {% for ad in user.ads %}
                {% include 'ad/_ad.html.twig' %}
            {% endfor %}
        </div>
        {% else %}
            <div class="alert alert-warning">
                <p>
                    <span class="font-weight-bold">{{ user.fullName }}</span> don't have an ad on the site.
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}