{% set url = path('ads_show', {'slug': ad.slug}) %}
<div class="col-md-4 mb-4">
        <div class="card bd-0" style="background: linear-gradient(rgba(0, 62, 128, 0.5), rgba(0, 62, 128, 0.5))">
            <img class="card-img img-fluid" src="{{ ad.coverImage }}" alt="Image">
            <div class="card-img-overlay pd-30 d-flex align-items-start flex-column">
                <h6 class="tx-white mg-b-15">{{ ad.title|length > 25? ad.title|slice(0, 25) ~ '…' : ad.title }}</h6>
                <p class="tx-white tx-white-7 mg-b-auto">{{ ad.title|length > 25? ad.title|slice(0, 25) ~ '…' : ad.title  }}</p>
                <p class="mg-b-0"><a href="{{ url }}" class="tx-white">See more</a></p>
            </div><!-- card-img-overlay -->
        </div>
    </div>
    {# <div class="card mb-3">
        <div class="card-header text-center">
            <span class="font-weight-bold">{{ ad.price }}&euro;/night</span> | {{ ad.rooms }} bedrooms
        </div>
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="Home image"
                 style="height: 100%; width: 100%; display: block">
        </a>
        <div class="card-body">
            <a class="text-decoration-none text-dark" href="{{ url }}">
                <h5 class="card-title">{{ ad.title|length > 25? ad.title|slice(0, 25) ~ '…' : ad.title  }}</h5>
            </a>

            {% if ad.comments | length > 0 %}
                {% include 'partials/rating.html.twig' with {'rating': ad.avgRatings}%}
            {% else %}
                <p class="m-0 p-0">No rating</p>
            {% endif %}

            <a class="text-decoration-none text-black-50" href="{{ url }}">
                <p class="card-text pb-3">{{ ad.introduction|length > 70? ad.introduction|slice(0, 70) ~ '…' : ad.introduction}}</p>
            </a>
            <a href="{{ path('ads_show', {'slug': ad.slug}) }}" class="card-link">See more</a>
            {% if app.user and app.user == ad.author %}
                <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-link">
                    Edit this ad
                </a>
            {% endif %}
        </div>
    </div> #}
