{% extends 'base.html.twig' %}

{% block title %}Our beautiful ads{% endblock %}

{% block body %}
    <div class="container-fluid">
        <!-- Best rent section-->

        <div class="container-fluid py-xl-5">
            <div class="container space-top-3 space-bottom-md-3 space-bottom-2">
                <!-- Title row -->
                <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                    <span class="btn btn-xs btn-soft-success btn-pill mb-2">What we do?</span>
                    <h2>Front makes designing easy and performance fast</h2>
                </div>
                <div class="w-md-60 w-lg-50 text-center mx-auto mb-7">
                    <h4 class="h5">
                        It is fast and easy. <span class="font-weight-normal">Create your first and ongoing website with Front.</span>
                    </h4>
                </div>

                <div class="w-50 w-md-40 w-lg-30 text-center mx-auto">
                    <p class="small">We are launching soon. Join the priority list for information and early access.</p>
                </div>
                <!-- End title row -->

                    <!-- Card row -->
                    <div class="row mt-5">
                        {% for ad in ads %}

                            {% set url = path('ads_show', {'slug': ad.slug}) %}

                        <div class="col-md-4">
                            <div class="card mb-3">
                                <div class="card-header text-center">
                                    <span class="font-weight-bold">{{ ad.price }}&euro;/night</span> | {{ ad.rooms }} bedrooms
                                </div>
                                <a href="{{ url }}">
                                    <img src="{{ ad.coverImage }}" alt="Home image"
                                         style="height: 200px; width: 100%; display: block">
                                </a>
                                <div class="card-body">
                                    <a class="text-decoration-none text-dark" href="{{ url }}">
                                        <h5 class="card-title">{{ ad.title }}</h5>
                                    </a>
                                    <h6 class="card-subtitle mb-2 text-muted">No reviews yet</h6>
                                    <a class="text-decoration-none text-black-50" href="{{ url }}">
                                        <p class="card-text">{{ ad.introduction }}</p>
                                    </a>
                                    <a href="{{ url }}" class="card-link">See more</a>
                                    <a href="#" class="card-link">Share to friend</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Card row -->
            </div>
        </div>
        <!-- End best rent -->
    </div>
{% endblock %}
